# List

In [1]:
my_List = [1,2,3,4,5]

In [2]:
my_List

[1, 2, 3, 4, 5]

In [3]:
my_List.append(6)

In [4]:
my_List

[1, 2, 3, 4, 5, 6]

In [5]:
my_List.insert(2,"Hello")

In [6]:
my_List

[1, 2, 'Hello', 3, 4, 5, 6]

In [7]:
my_List.pop()

6

In [8]:
my_List

[1, 2, 'Hello', 3, 4, 5]

In [9]:
my_List.index('Hello')

2

In [10]:
my_List.append('Hello')

In [11]:
my_List

[1, 2, 'Hello', 3, 4, 5, 'Hello']

In [15]:
my_List.count('Hello')

2

In [16]:
my_List[1] = 123

In [17]:
my_List

[1, 123, 'Hello', 3, 4, 5, 'Hello']

# Tuple

In [13]:
my_tuple = (1,2,3,4,5)

In [14]:
for elem in my_tuple:
    print(elem)

1
2
3
4
5

In [18]:
my_tuple[2] = 123

TypeError: 'tuple' object does not support item assignment

In [19]:
my_new_tuple = ([1,2,3],"Hello",1,2)

In [20]:
my_new_tuple[0][1] = "world"

In [21]:
my_new_tuple

([1, 'world', 3], 'Hello', 1, 2)

# Set

In [22]:
my_set = {1,2,3,4,5}

In [23]:
my_set

{1, 2, 3, 4, 5}

In [24]:
my_set.add(5)

In [25]:
my_set

{1, 2, 3, 4, 5}

In [26]:
my_set.add(6)

In [27]:
my_set

{1, 2, 3, 4, 5, 6}

In [28]:
my_set = {[1,2,3],1}

TypeError: unhashable type: 'list'

In [29]:
my_set1 = {1,2,3,5}

In [30]:
my_set2 = {2,3,6}

In [31]:
my_set1 | my_set2

{1, 2, 3, 5, 6}

In [32]:
my_set1 & my_set2

{2, 3}

# Dictionary

In [33]:
my_dict = { "Name": "Prince", "age": 23, "height": 5.5 }

In [34]:
my_dict["Name"]

'Prince'

In [35]:
my_dict["NAme"]

KeyError: 'NAme'

In [36]:
my_dict.get("Hell","Key not present yet")

'Key not present yet'

In [37]:
my_dict.get("Name","key is not present")

'Prince'

In [38]:
for key in my_dict.keys():
    print(key, my_dict[key])

Name Prince
age 23
height 5.5

In [39]:
my_dict["Name"] = "bob"

In [40]:
my_dict

{'Name': 'bob', 'age': 23, 'height': 5.5}

In [41]:
 my_new_dict = { my_List : 12 }

TypeError: unhashable type: 'list'

In [42]:
my_new_dict = { my_tuple : 22 }

In [43]:
my_new_dict

{(1, 2, 3, 4, 5): 22}